.share-window {
    position: absolute;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100%;
    margin: auto;
    background: #2d2d2d;//#5b5b5b;
    z-index: 15;
    padding: 5px;
    display: flex;
    justify-content: center;

    .share-window-entry {
        width: 20vw;
        color: #fff;

        .share-window-entry-text {
            height: 100%;
            display: inline-block;
            //width: 80%;
            label {
                font-size: 1.5vw;
                line-height: 10vh;
            }
            input[type="text"] {
                width: 75%;
                height: 2em;
                outline: none;
            }
        }
        .share-window-entry-copy {
            display: inline-block;
            font-size: 10px;
            margin-left: 5px;
            color: #f69a2d;
        }
        .share-window-entry-download, .share-window-entry-link {

            &:hover {
                color: #f69a2d;
                cursor: pointer;
                text-decoration: underline;
            }
        }
        .share-window-entry-copy:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .close-share {
        font-size: 10px;
        font-weight: bold;
        span {
            float: right;
            cursor: pointer;
        }
    }

}

@media only screen and (max-width: 600px) {


    .share-window {
        width: 100%;
        bottom: 5px;
    }

}
