#layer-settings-container {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    //max-height: 20vh;
    //left: calc(20% + 20px);
    z-index: 1;
    //border: 1px solid #d3d3d3;
    //margin: 5px;
    background: #2d2d2d;
    //width: 360px;
    //box-shadow: 0 0 75px #000;
    //border-radius: 10px 10px 0 0;
    //border-bottom: 1px solid #339966;
    //height: 500px;

    .layer-settings-header {
        background-color: #2d2d2d;
        color: #fff;
        //text-align: center;
        padding-left: 10px;
        font-weight: bold;
        font-size: 1.5em;
        //height: 30px;
        line-height: 2em;
        //border-radius: 10px 10px 0 0;

        span {
            cursor: pointer;
            margin-right: 5px;
            float: right;
            font-size: 13px;
        }
    }

    .layer-settings-body {
        //height: 430px;
        //background-color: #808080;
        height: calc(100% - 4em);
        overflow-y: auto;
    }

    .layer-settings-label {
        text-align: center;
        background: #dddddd;
    }

    .layer-settings-field {
        font-size: 11px;
        color: #808080;
    }

    .nested {
        border-left: 12px solid #d3d3d3;
    }

    .layer-settings-value {
        word-break: break-all;
        font-size: 13px;
        padding: 5px;
    }

    .layer-settings-group {
        margin: 5px;
        padding: 10px;
        background: #808080;

        .layer-settings-name {
            color: #000;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 5px;

        }
        .layer-settings-slider {

            label {
                font-size: 10px;
                line-height: 20px;

                .slider-value {
                    float:right;
                }
            }

            .slider {
              -webkit-appearance: none;
              width: 100%;
              height: 10px;
              background: #d3d3d3;
              outline: none;
              opacity: 0.7;
              -webkit-transition: .2s;
              transition: opacity .2s;
            }
            .slider:hover {
              opacity: 1;
            }
            .slider::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 15px;
              height: 15px;
              background: #0066CC;
              cursor: pointer;
            }
            .slider::-moz-range-thumb {
              width: 15px;
              height: 15px;
              background: #0066CC;
              cursor: pointer;
            }

        }

        .layer-settings-colors {
            overflow-y: auto;
            //height: 150px;
            .layer-settings-palette {
                width: 150px;
                height: 20px;
                margin: 7px;
                cursor: pointer;
                border: none;
            }
        }

        .layer-settings-time {

            select {
              width: 150px;
              padding: 5px 35px 5px 5px;
              font-size: 13px;
              font-weight: bold;
              color: #0066CC;
              border: 1px solid #d3d3d3;
              height: 34px;
              margin: 7px;

              //-webkit-appearance: none;
              //-moz-appearance: none;
              //appearance: none;
              //background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
              option {
                  font-weight: bold;
                  height: 34px;
              }
            }
            select:focus {
                outline: none;
            }

        }

        .layer-settings-type {
            select {
              width: 200px;
              padding: 5px 35px 5px 5px;
              font-size: 13px;
              font-weight: bold;
              color: #0066CC;
              border: 1px solid #d3d3d3;
              height: 34px;
              margin: 7px;

              option {
                  font-weight: bold;
                  height: 34px;
              }
            }
            select:focus {
                outline: none;
            }
        }
    }

    .layer-settings-group-name {
        background-color: #d3d3d3;
        line-height: 25px;
        text-align: center;
    }

    .layer-settings-group-content {}
}

@media only screen and (max-width: 600px) {
  #layer-settings-container {
      .layer-settings-body {
          height: auto;

      }
  }
}
