.base-map-picker {
    //position: absolute;
    //bottom: 2%;
    display:  inline-block;
    height: 6vh;
    margin: 0 2vw 0;
    //width: 408px;
    min-width: 150px;
    background: rgba(0,0,0,0);//#5b5b5b;
    z-index: 15;
    text-align: center;

    .base-map-entry {
        display: inline-block;
        width: 5vh;
        height: 5vh;
        vertical-align: top;
        background: #5b5b5b;
        margin: 0.5vh;
        font-size: 10px;
        cursor: pointer;
        //border: 2px solid #f69a2d;
        color: #fff;
    };
    .selected {
        border: 2px solid #f69a2d;
    }

}

/*
@media only screen and (max-width: 720px) {

    .base-map-picker {
        display: block;
    }

}*/
