#catalog-table {

  table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px #818181;
    margin-bottom: 35px;
  }

  table, td {
    border: 1px solid #dddddd;
    background: #fff;
  }

  th {
    height: 35px;
    text-align: left;
    padding: 5px;
    background-color: #339966;
    color: #fff;
  }
  td {
    padding: 5px;

    a {
        text-decoration: none;
        color: #0066CC;
    }
    a:hover {
        text-decoration: underline;
        color: #004080;
    }
  }

}

#catalog-search, #catalog-dataset-info {
  width: 80%;
  margin: auto;
  background: #ebebe5;
  margin-top: 50px;
  border: 1px solid #dddddd;
  box-shadow: 0 0 10px #818181;

  padding: 25px;

  .search-field {
      display: inline-block;
      width: 33%;

      input[type=text] {
           width: 75%;
           height: 30px;
           font-size: 15px;

       }

       input[type=checkbox] {
           width: 15px;
           height: 15px;
        }

  }

  .search-label {
    font-weight: bold;
  }

  .search-buttons {
      margin-top: 50px;

      .search-buttons-form {
          display: inline-block;
          width: 33%;

          #reset {
              margin-left: 10px;
              font-size: 10px;
              cursor: pointer;
          }
          #reset:hover {
              text-decoration: underline;
          }

          #submit {
              width: 75px;
              height: 30px;
              background-color: #777777;
              color: #fff;
              border: none;
              font-size: 12px;
          }
          #submit:hover {
              cursor: pointer;
              background-color: #d3d3d3;
          }

      }
      .search-buttons-advanced {
          display: inline-block;
          width: 33%;
          text-align: center;

          span {
              font-size: 12px;
              cursor: pointer;

              i {
                  margin-left: 5px;
              }
          }

      }
  }

  .search-advanced {
      background: #d3d3d3;
      margin-top: 50px;
      height: 200px;
      color: #818181;
      -webkit-animation: animate-advanced-open 0.5s;
      -moz-animation: animate-advanced-open 0.5s;
      -o-animation: animate-advanced-open 0.5s;
      animation: animate-advanced-open 0.5s;
  }

  .catalog-dataset-info-field {

      margin-bottom: 10px;

      .info-field-label {
          font-size: 12px;
          color: #818181;
      }

      .info-field-value {
          margin-left: 5px;
          word-wrap: break-word;

      }
      img {
          max-width: 350px;
          border: 1px solid #dddddd;
      }
  }

  .catalog-dataset-info-block {
      vertical-align: top;
      width: 45%;
      margin-right: 5%;
      height: 500px;
      display: inline-block;
      overflow-y: auto;
  }

}


@keyframes animate-advanced-open {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}
