#modal-catalog {
    position: absolute;
    left: 0;
    width: 100%;
    min-width: 300px;
    height: 40vh;
    background-color: #ebebe5;
    z-index: 30;
    box-shadow: 0 0 75px #000;

    .mc-head {
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        line-height: 30px;
        background: #339966;
        color: #fff;

    }
    .mc-close {
        float: right;
        cursor: pointer;
        font-weight: bolder;
        margin-right: 5px;
    }

    .mc-loading-backdrop {
        position: absolute;
        height: calc(100vh - 30px);
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        text-align: center;
        padding-top: 50%;
    }

    .mc-search {
        height: 100px;
        text-align: center;
        border-bottom: 1px solid #808080;
        padding: 20px;

        .mc-search-input {
            //margin-top: 20px;
            display: inline-block;
            input[type=text] {
                min-width: 250px;
                line-height: 25px;
            }
        }

        .mc-search-button {
            display: inline-block;
            button {
                background-color: #339966;
                color: #fff;
                line-height: 25px;
            }
        }
    }

    .mc-browse {

        .mc-browse-header {
            font-size: 20px;
            padding: 10px;
        }

        .mc-browse-entry {
            padding: 10px;
            color: #0066CC;
        }
        .mc-browse-entry:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        .mc-indicator-info {
            height: calc(100vh - 130px);
            background-color: rgba(0,0,0,0.5);
            width: 100%;

            position: absolute;

            .mc-indicator-info-takeover {
                width: 80%;
                height: 50%;
                margin: auto;
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
                background: #ebebe5;
                overflow-y: auto;
                border: 2px solid #339966;

                .mc-indicator-info-node {
                    padding: 10px;
                    .mc-indicator-info-key {
                        font-size: 11px;
                        color: #808080;
                    }
                    .mc-indicator-info-value {
                        word-break: break-all;
                        font-size: 13px;
                        font-weight: bold;
                    }

                    .layer-info-card-landvoc {

                        div {
                            div {
                                padding: 3px;
                                margin-right: 5px;
                                margin-top: 5px;
                                display: inline-block;
                                border-radius: 3px;
                                font-weight: bold;
                                color: #fff;
                            }

                            .tag-theme {
                                background: #009999;

                            }
                            .tag-concept {
                                background: #333366;
                            }
                        }
                    }

                }
            }
        }
    }

    .mc-browse-datasets {

        .mc-browse-datasets-header {
            padding: 10px;
            height: 40px;

            span {
                float: right;
                font-size: 12px;
                color: #0066CC;
                cursor: pointer;
            }
        }

        .mc-browse-datasets-list {
            height: calc(40vh - 40px);
            overflow-y: auto;

            .mc-browse-datasets-entry {
                font-size: 14px;
                padding: 5px 5px 5px 10px;

            }
            .mc-browse-datasets-entry:nth-child(odd) {
                background: #d3d3d3;
            }
            .mc-browse-datasets-entry:hover {
                cursor: pointer;
                color: #0066CC;
            }

            .ds-label {
                display: inline-block;
                max-width: 80%;
            }

            .icon {
                display: inline-block;
                font-size: 15px;
                color: #000;
                float: right;
            }
            .icon:hover {
                cursor: pointer;
            }
        }

        .mc-browse-datasets-info {
            height: 100px;

            .mc-browse-dataset-name {
                font-size: 12px;
                padding: 10px;
                font-weight: bold;
                span {
                    float: right;
                    font-size: 12px;
                    color: #0066CC;
                    cursor: pointer;
                }
            }
            .mc-browse-dataset-description {
                font-size: 12px;
                padding: 10px;
                overflow-y: auto;
                height: 50px;
            }
        }

        .mc-browse-indicators-list {
            height: calc(100vh - 230px);
            overflow-y: auto;

            .mc-browse-indicator-entry {
                font-size: 12px;
                padding: 10px;
                div {
                    .add {
                        display: inline-block;
                        font-size: 12px;
                        color: #0066CC;
                        cursor: pointer;
                    }
                    .add:hover {
                        text-decoration: underline;
                    }
                    .existing {
                        display: inline-block;
                        font-size: 12px;
                        color: #808080;
                    }
                    .icon {
                        display: inline-block;
                        font-size: 15px;
                        color: #000;
                        float: right;
                    }
                    .icon:hover {
                        cursor: pointer;
                    }
                }
            }
            .mc-browse-indicator-entry:nth-child(odd) {
                background: #d3d3d3;
            }
        }

    }

    .mc-browse-themes {

        .mc-browse-themes-header {
            padding: 10px;
            height: 40px;

            span {
                float: right;
                font-size: 12px;
                color: #0066CC;
                cursor: pointer;
            }
        }

        .mc-browse-themes-list {
            height: calc(100vh - 170px);
            overflow-y: auto;

            .mc-browse-themes-entry {
                font-size: 14px;
                padding: 5px 5px 5px 10px;

            }
            .mc-browse-themes-entry:nth-child(odd) {
                background: #d3d3d3;
            }
            .mc-browse-themes-entry:hover {
                cursor: pointer;
                color: #0066CC;
            }
        }

    }

    .mc-browse-countries {

        .mc-browse-countries-header {
            padding: 10px;
            height: 40px;

            span {
                float: right;
                font-size: 12px;
                color: #0066CC;
                cursor: pointer;
            }
        }

        .mc-browse-countries-list {
            height: calc(100vh - 170px);
            overflow-y: auto;

            .mc-browse-countries-entry {
                font-size: 14px;
                padding: 5px 5px 5px 10px;

                .mc-country {
                    padding-left: 20px;
                    padding-top: 5px;
                }
                .mc-region {
                    font-weight: bold;
                }
                .icon {
                    display: inline-block;
                    font-size: 15px;
                    color: #000;
                    float: right;
                }
                .icon:hover {
                    cursor: pointer;
                }
                .mc-country:hover, .mc-region:hover {
                    cursor: pointer;
                    color: #0066CC;
                }

            }
            /*.mc-browse-countries-entry:nth-child(odd) {
                background: #d3d3d3;
            }*/
            /*
            .mc-browse-countries-entry:hover {
                cursor: pointer;
                color: #0066CC;
            }*/
        }

    }

    // ADVANCED

    .mc-browse-advanced {

        .mc-browse-advanced-header {
            padding: 10px;
            height: 40px;
            font-size: 20px;

            span {
                float: right;
                font-size: 12px;
                color: #0066CC;
                cursor: pointer;
            }
        }

        .mc-browse-advanced-results {
            height: calc(100vh - 170px);
            overflow-y: auto;
            .mc-browse-indicators-node {

                .mc-browse-indicators-control {
                    padding: 10px;
                    font-weight: bold;

                    span {
                        float:right;
                    }
                    span:hover {
                        cursor: pointer;
                        color: #0066CC;
                    }
                }

                .mc-browse-indicators-list {
                    overflow-y: auto;

                    .mc-browse-indicator-entry {
                        font-size: 12px;
                        padding: 10px;
                        div {
                            .add {
                                display: inline-block;
                                font-size: 12px;
                                color: #0066CC;
                                cursor: pointer;
                            }
                            .add:hover {
                                text-decoration: underline;
                            }
                            .icon {
                                display: inline-block;
                                font-size: 15px;
                                color: #000;
                                float: right;
                            }
                            .icon:hover {
                                cursor: pointer;
                            }
                        }

                    }
                    .mc-browse-indicator-entry:nth-child(odd) {
                        background: #d3d3d3;
                    }
                }

            }

            .mc-browse-datasets-node {

                .mc-browse-datasets-control {
                    padding: 10px;
                    font-weight: bold;
                    span {
                        float:right;
                    }
                    span:hover {
                        cursor: pointer;
                        color: #0066CC;
                    }
                }

                .mc-browse-datasets-list {
                    overflow-y: auto;

                    .mc-browse-datasets-entry {
                        font-size: 12px;
                        padding: 5px 5px 5px 10px;
                        .ds-label {
                            display: inline-block;
                            max-width: 80%;
                        }

                        .icon {
                            display: inline-block;
                            font-size: 15px;
                            color: #000;
                            float: right;
                        }
                        .icon:hover {
                            cursor: pointer;
                        }
                        span {
                            display: block;
                            font-size: 12px;
                            color: #0066CC;
                            cursor: pointer;
                        }
                        span:hover {
                            text-decoration: underline;
                        }

                    }
                    .mc-browse-datasets-entry:nth-child(odd) {
                        background: #d3d3d3;
                    }
                    /*
                    .mc-browse-datasets-entry:hover {
                        cursor: pointer;
                        color: #0066CC;
                    }*/
                }

            }

            .mc-browse-themes-node {

                .mc-browse-themes-control {
                    padding: 10px;
                    font-weight: bold;
                    span {
                        float:right;
                    }
                    span:hover {
                        cursor: pointer;
                        color: #0066CC;
                    }
                }

                .mc-browse-themes-list {
                    overflow-y: auto;

                    .mc-browse-themes-entry {
                        font-size: 12px;
                        padding: 5px 5px 5px 10px;
                        span {
                            display: block;
                            font-size: 12px;
                            color: #0066CC;
                            cursor: pointer;
                        }
                        span:hover {
                            text-decoration: underline;
                        }
                    }
                    .mc-browse-themes-entry:nth-child(odd) {
                        background: #d3d3d3;
                    }
                    /*
                    .mc-browse-themes-entry:hover {
                        cursor: pointer;
                        color: #0066CC;
                    }*/
                }

            }

            .mc-browse-countries-node {

                .mc-browse-countries-control {
                    padding: 10px;
                    font-weight: bold;
                    span {
                        float:right;
                    }
                    span:hover {
                        cursor: pointer;
                        color: #0066CC;
                    }
                }

                .mc-browse-countries-list {
                    overflow-y: auto;

                    .mc-browse-countries-entry {
                        font-size: 12px;
                        padding: 5px 5px 5px 10px;
                        span {
                            display: block;
                            font-size: 12px;
                            color: #0066CC;
                            cursor: pointer;
                        }
                        span:hover {
                            text-decoration: underline;
                        }
                    }
                    .mc-browse-countries-entry:nth-child(odd) {
                        background: #d3d3d3;
                    }
                    /*
                    .mc-browse-themes-entry:hover {
                        cursor: pointer;
                        color: #0066CC;
                    }*/
                }

            }

        }

    }

}

@media only screen and (max-width: 600px) {
  #modal-catalog {
      width: 100%;

  }
}
