#modal-catalog {
    position: fixed;
    min-width: 350px;
    width: 25%;
    height: 100%;
    z-index: 20;
    background: #ebebe5;
    color: #808080;
    top: 0;
    left: 0;
    min-height: 450px;
    //border: 1px solid #808080;
    box-shadow: 0 0 75px #000;
    //padding: 5px;
    //border-radius: 10px;
    //display: grid;
    //grid-template-columns: 1fr;
    //grid-template-rows: 30px 1fr;

    .mcatalog-head {
        font-size: 13px;
        text-align: center;
        line-height: 30px;
        background: #339966;
        //border-radius: 10px 10px 0 0;
        color: #fff;
        //grid-row: 1;
        //grid-column: 1;

        .ds-not-selected {
            font-style: italic;
        }

        .ds-selected {
            font-style: normal;
            //color: #000;
            font-size: 12px;
        }

        .mcatalog-close {
            float: right;
            cursor: pointer;
            font-weight: bolder;
            margin-right: 5px;
        }
    }

    .mcatalog-body {
        //grid-row: 2;
        //grid-column: 1;
        //display: grid;
        //grid-template-columns: 1fr;
        //grid-template-rows: 100px 1fr;
        height: calc(100% - 30px);

        .mcatalog-body-search {

            //grid-row: 1;
            //grid-column: 1;
            height: 100px;
            text-align: center;
            border-bottom: 1px solid #339966;

            .mcatalog-body-input {
                margin-top: 20px;
                display: inline-block;
                input[type=text] {
                    min-width: 250px;
                    line-height: 25px;
                }
            }

            .mcatalog-body-button {
                display: inline-block;
                button {
                    background-color: #339966;
                    color: #fff;
                    line-height: 25px;
                }
            }

        }


        .mcatalog-body-browse {
            //grid-row: 2;
            //grid-column: 1;
            overflow: auto;
            max-height: calc(100% - 100px);


            .mcatalog-body-browse-dataset {

                overflow: auto;
                //display: grid;
                //grid-template-columns: 1fr 100px;
                //grid-template-rows: 30px 1fr;

                .mcatalog-browse-category {
                    height: 30px;
                    display: inline-block;
                    //grid-row: 1;
                    //grid-column: 1;
                    padding: 5px;
                }

                .mcatalog-browse-back {
                    height: 30px;
                    display: inline-block;
                    //grid-row: 1;
                    //grid-column: 2;
                    padding: 5px;
                    font-size: 12px;
                    text-align: right;
                    span {
                        color: #0066CC;
                    }
                    span:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                .mcatalog-browse-list {
                    //grid-row: 2;
                    //grid-column: 1/3;
                    overflow: auto;
                    height: 100%;

                    .mcatalog-datasets-list {
                        //width: 100%;
                        //height: 100%;
                        overflow: auto;
                        .mcatalog-list-entry {
                            font-size: 13px;
                            padding: 3px;
                        }
                        .mcatalog-list-entry:nth-child(odd) {
                            background: #d3d3d3;
                        }
                        .mcatalog-list-entry:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

    }

    //
    // old style
    //
    /*.mcatalog-list {
        grid-row: 2;
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20px 1fr 50px;
        overflow: auto;
        border-right: 0.2px solid rgba(0,0,0,0.7);

        .mcatalog-list-name {
            margin-top: 5px;
            margin-left: 3px;
            grid-column: 1;
            grid-row: 1;
            color: #000;
            font-size: 12px;
            font-weight: bold;
        }

        .mcatalog-search-basic {
            margin-top: 10px;
            margin-left: 5px;
            grid-column: 1;
            grid-row: 3;

            .mcatalog-search-select {
                height: 65px;
                width: 25%;
                position: absolute;
                margin-left: -5px;
                margin-top: -65px;
                background: #ebebe5;
                border-right: 0.2px solid rgba(0,0,0,0.7);
                border-top: 0.2px solid rgba(0,0,0,0.7);

                select {
                    height: 25px;
                    width: calc(100% - 40px);
                    margin-top: 5px;
                    margin-left: 5px;
                    background-color: #fff;
                }
            }

            .mcatalog-search-input {
                display: inline-block;
                width: calc(100% - 35px);
                vertical-align: top;

                input[type=text] {
                    width: 100%;
                    height: 25px;
                }
            }

            .mcatalog-search-expand {
                display: inline-block;
                width: 35px;
                line-height: 25px;
                height: 25px;
                vertical-align: top;
                text-align: center;
                font-size: 10px;
                cursor: pointer;
            }

            .mcatalog-search-advanced {
                display: inline-block;
                width: 48px;
                background: #339966;
                color: #fff;
                line-height: 25px;
                height: 25px;
                vertical-align: top;
                text-align: center;
                font-size: 10px;
                cursor: pointer;
            }

            .mcatalog-search-advanced:hover {
                background: #808080;
            }
        }

        .mcatalog-list-datasets {
            margin-top: 10px;
            overflow-y: auto;
            grid-column: 1;
            grid-row: 2;
            overflow: auto;

            .mcatalog-list-entry {
                cursor: pointer;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                padding: 3px;
                font-size: 13px;
            }

            .mcatalog-list-entry:hover {
                color: #000;
                text-overflow: clip;
                white-space: normal;
            }

            .mcatalog-list-entry-selected {
                color: #000;
                text-overflow: clip;
                white-space: normal;
                font-weight: bold;
                font-size: 13px;
                padding: 3px;
            }
        }
    }

    .mcatalog-tiles {
        grid-column: 2;
        grid-row: 2;
        //height: calc(100% - 40px);
        vertical-align: top;
        padding: 10px;
        overflow-y: auto;

        .mcatalog-search-advanced {
            color: #0066CC;
            //vertical-align: top;
            margin-left: 5px;
            font-size: 10px;
            font-weight: bold;
        }

        .mcatalog-search-advanced:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .mcatalog-number {
            font-size: 10px;
            margin: 5px 0 10px 10px;
            font-weight: bold;
        }

        .mcatalog-tiles-indicators {
            height: 100%;
            display: grid;
            grid-auto-rows: 33%;
            grid-template-columns: 33% 33% 33%;

            .mcatalog-tiles-entry {
                div {
                    margin: 0 auto;
                    background: #d3d3d3;
                    width: 90%;
                    height: 90%;

                    .mcatalog-tiles-top {
                        height: 75%;
                        display: grid;
                        grid-template-rows: 70% 30%;
                        grid-template-columns: 100%;

                        .mcatalog-tiles-top-name {
                            margin: auto;
                            font-size: 1.2vmin;
                            color: #000;
                            align-items: center;
                            display: block;
                            text-overflow: ellipsis;
                            word-wrap: break-word;
                            overflow: hidden;
                            max-height: 4em;
                            line-height: 1em;
                        }

                        .mcatalog-tiles-top-dataset {
                            font-size: 9px;
                            display: block;
                            text-overflow: ellipsis;
                            word-wrap: break-word;
                            overflow: hidden;
                            max-height: 2em;
                            line-height: 1em;
                        }
                    }

                    .mcatalog-tiles-bottom {
                        height: 25%;

                        .mcatalog-tiles-type {
                            display: inline-block;
                            width: 50%;
                            vertical-align: top;
                            font-size: 1.3vmin;
                        }

                        .mcatalog-tiles-add {
                            display: inline-block;
                            width: 50%;
                            vertical-align: top;

                            div {
                                background: #339966;
                                color: #fff;
                                font-weight: bolder;
                                width: 20px;
                                height: 20px;
                                text-align: center;
                                border-radius: 50%;
                                float: right;
                                cursor: pointer;
                            }

                            .already-existing {
                                background: #818181;
                            }
                        }
                    }
                }
            }
        }
    };

    .mcatalog-form {
        grid-column: 2;
        grid-row: 2;
        padding: 10px;
        overflow-y: auto;

        form {
            .separator {
                font-size: 12px;
                font-weight: bold;
                margin: 10px 0;
            }

            .search-row {
                width: 100%;

                .search-field {
                    display: inline-block;
                    width: 50%;

                    .search-label {
                        font-size: 10px;
                    }

                    input[type=text] {
                        width: 95%;
                        height: 25px;
                    }

                    select {
                        width: 95%;
                        height: 25px;
                        background: #fff;
                    }
                }

                .search-field-spatial {
                    display: inline-block;
                    width: 25%;

                    .search-label {
                        font-size: 10px;
                    }

                    input[type=number] {
                        width: 95%;
                        height: 25px;
                    }

                    select {
                        width: 95%;
                        height: 25px;
                        background: #fff;
                    }
                }

                .grab-extent {
                    font-size: 10px;
                    cursor: pointer;
                    color: #0066CC;
                    margin-top: 5px;
                }
            };

            .search-buttons {
                margin-top: 25px;
                font-size: 12px;

                #submit {
                    background: #339966;
                    color: #fff;
                    border: none;
                    padding: 5px;
                    height: 25px;
                    cursor: pointer;
                    margin-right: 5px;
                }

                #submit:hover {
                    background: #808080;
                }
            }
        }
    }
    @media screen and (max-width:800px) {
        .mcatalog-list {
            display: inline-block;
            width: 100%;
            height: 20%;
            margin-bottom: 5%;
        }

        .mcatalog-tiles {
            margin-top: 5%;
            width: 95%;
            height: 65%;
        }
    }

    .mcatalog-loader {
        grid-column: 2;
        grid-row: 2;
        height: calc(100% + 10px);
        padding: 10px;
        background: rgba(0,0,0,0.7);
        border-radius: 0 0 10px 0;
        z-index: 999;

        .spinner-label {
            display: inline-block;
            vertical-align: top;
            margin-left: 5px;
            font-size: 12px;
            color: #fff;
            line-height: 32px;
        }
    }*/
}
