.selected-feature-info {
    position: fixed;
    //top: 5%;
    //right: 3%;
    z-index: 20;
    //border: 1px solid #d3d3d3;
    margin: 5px;
    background: #2d2d2d;
    width: 250px;
    box-shadow: 0 0 75px #000;
    //border-radius: 10px;
    min-height: 150px;

    .selected-feature-head {
        text-align: center;
        line-height: 30px;
        background: #2d2d2d;
        color: #fff;
        font-weight: bold;
        //border-radius: 10px 10px 0 0;

        span {
            cursor: pointer;
            margin-right: 5px;
            float: right;
            font-size: 13px;
        }

    }

    .selected-feature-body {

        max-height: 250px;
        overflow-y: auto;

        .selected-feature-entry {

            .selected-feature-field {
                font-size: 11px;
                color: #d5eee7;
                padding: 3px;
            }

            .selected-feature-value {
                color: #fff;
                word-break: break-all;
                font-size: 13px;
                font-weight: bold;
                padding: 8px;

            }

        }

    }
}

@media only screen and (max-width: 600px) {


    .selected-feature-info {
        bottom: 0;
        left: 0;
        top: auto;
        right: auto;
        margin: 0;
    }

}
