#legend-panel-container {
    width: 300px;
    min-height: 300px;
    min-width: 150px;
    left: 10px;
    top: 300px;
    z-index: 1;
    background: #ebebe5;
    font-size: 12px;
    //font-weight: bold;
    line-height: 20px;
    border-radius: 10px 10px 0 10px;
    box-shadow: 0 0 75px #000;
    position: fixed;
    //border: 1px solid #d3d3d3;
    margin: 5px;


      .legend-panel-header {
        background-color: #339966;
        color: #fff;
        text-align: center;
        font-weight: bold;
        height: 30px;
        line-height: 30px;
        border-radius: 10px 10px 0 0;
        font-weight: bold;
      }

      span {
        cursor: pointer;
        margin-right: 5px;
        float: right;
        font-size: 13px;
    }

      .legend-panel-body {
        height: calc(100% - 55px);
        overflow-y: auto;


      }

      .legend-panel-mapLegend{
          padding-left: 5px;
          width: 100%;
      }

      .legend-panel-layer-name{
        width: 100%;

        margin-bottom: 20px;
        margin-top: 10px;
        text-align: left;
        font-weight: bold;
      }

      .legend-panel-ramp{
        width: 40px;
        height: 25px;
        margin-right: 8px;
        margin-bottom: 1%;
        float: left;
      }

      .legend-panel-list {
          display: block;
      }

      .legend-panel-symbol{
          display: inline-block;
          vertical-align: top;
          line-height: 30px;
          margin-left: 5px;
      }


      .legend-panel-jenks{
        margin-left: 10px;
        margin-bottom: 5%;

      }

      .legend-panel-jenks-proportional{
        display: inline-block;
        vertical-align: top;
        padding-left: 30px;
        line-height: 30px;
      }

      .circle{
        height: 30px;
        width: 30px;
        //float: left;
        border-radius: 50%;
        margin-left: 5px;
      }

      .triangle{
        /*width: 30px;
        height: 30px;
        //background: linear-gradient(to right bottom, red 50%, transparent 50%);
        transform: rotate(45deg);
        margin-bottom: 2%;
        margin-top: 2%;
        margin-left: 5%;*/
        width: 0;
        height: 0;
        border-left:15px solid transparent;
        border-right: 15px solid transparent;

        border-bottom: 25px solid black;
    }

    .square{
        height: 20px;
        width: 20px;
        margin-bottom: 2%;
        margin-top: 2%;
        margin-left: 5%;
        transform: rotate(45deg);
    }

}
