#layer-tree-container {
    //background: red;
    //border: 1px solid #dddddd;
    //border-radius: 10px 10px 10px 10px;
    //margin: 5px;
    .layer-tree-header {
        margin-left: 5px;
        font-size: 1.5em;
        background-color: #2d2d2d;
        color: #fff;
        line-height: 2em;
        font-weight: bold;
        //border-radius: 10px 10px 0 0;

        .icon {
            //cursor: pointer;
            margin-right: 5px;
            font-size: 13px;
            float: right;
        }
        .clear {
            margin-left: 10px;
            font-size: 0.65em;
            color: #f69a2d;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .layer-tree-empty {
        margin: 5px;
        font-size: 12px;
        color: #e5e5e5;
        background-color: #808080;
        font-style: italic;
        text-align: center;
        line-height: 5vh;
        height: 12vh;
    }

    .layer-tree-node {
        margin: 5px;
        //border: 1px solid #d3d3d3;
        background-color: #808080;
        //height: 9em;
        transition: transform 0.2s ease-in-out;
        display: grid;
        grid-template-columns: 10% 45% 25% 20%;
        //grid-template-rows: 33% 33% 1fr 1fr;

        .layer-node-widget {
            grid-column: 2/4;
            grid-row: 4;
        }

        .layer-tree-node-legend {
            grid-row: 2/3;
            grid-column: 2/3;

            .layer-tree-node-header {
                margin: 5px;
                font-weight: bold;
                span {
                    font-weight: normal;
                    font-size: 0.875em;
                }
            }

            .layer-tree-node-ramp {

                .legend-node {
                    display: flex;
                    .legend-node-color {
                        margin: 5px;
                        width: 20%;
                        height: 20px;
                    }
                    .legend-node-value {
                        margin: 5px;
                        span {
                            font-size: 0.75em;
                        }
                    }
                }
            }

            .layer-tree-node-values {
                grid-row: 2;
                grid-column: 1/4;
                //display: grid;
                //grid-template-columns: 33% 33% 33%;
                //grid-template-rows: 100%;
                font-size: 9px;
                display: flex;
                align-items: stretch;

                div {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                }
            }

            .layer-tree-node-symbol {
                grid-row: 1/2;
                grid-column: 1;
                display: inline-block;
                line-height: 30px;
                margin-left: 5px;
                text-align: center;

                .circle {

                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                }

                .triangle{

                  width: 0;
                  height: 0;
                  border-left:15px solid transparent;
                  border-right: 15px solid transparent;
                  border-bottom: 25px solid transparent;
              }

              .square{

                  height: 20px;
                  width: 20px;
                  margin-bottom: 2%;
                  margin-top: 2%;
                  margin-left: 5%;
                  transform: rotate(45deg);
              }

              .heatmap {
                  background: radial-gradient(#f00, #ff0, #0f0, #0ff);
                  height: 45px;
                  width: 45px;
                  border-radius: 50%;
                  box-shadow: 0 0 20px #0ff;
              }

            }

            .layer-tree-node-min {
                margin: 5px;
                grid-row: 1;
                grid-column: 2;
                font-size: 10px;
                line-height: 30px;
            }

            .layer-tree-node-max {
                margin: 5px;
                grid-row: 1;
                grid-column: 3;
                font-size: 10px;
                line-height: 30px;
            }

            /*.legend-min {
              grid-row: 1;
              grid-column: 1;
          }
          .legend-mid {
              grid-row: 1;
              grid-column: 2;
              text-align: center;
          }
          .legend-max {
              grid-row: 1;
              grid-column: 3;
              text-align: right;
          }*/
        }
        .layer-tree-node-info {
            grid-row: 2/5;
            grid-column: 3/5;
            margin: 5px;



            .layer-tree-node-time {
                font-weight: bold;

                .time-switch {
                    outline: none;
                    width: 100px;
                    font-size: 0.875em;
                    font-weight: bold;
                    color: #0066CC;

                    height: 2em;
                    margin: 7px;
                }
            }
            .layer-tree-node-about {
                overflow: hidden;
               text-overflow: ellipsis;
               display: -webkit-box;
               -webkit-box-orient: vertical;
               -webkit-line-clamp: 4;
               line-height: 1.5em;        /* fallback */
               max-height: 6em;
            }
            .layer-tree-node-more {
                color: #f69a2d;
                text-decoration: underline;
                cursor: pointer;
            }
            .layer-tree-node-download {
                margin-top: 10px;
                font-weight: bold;

                span {
                    display: block;
                    font-weight: normal;
                    a {
                        color: #f69a2d;
                        margin-right: 5px;
                    }
                }
            }
        }
        .layer-tree-node-move {
            vertical-align: top;
            font-size: 20px;
            grid-row: 1/5;
            grid-column: 1;

            background-color: #808080;
            background-image:
              linear-gradient(45deg, #e5e5e5 25%, transparent 25%),
              linear-gradient(-45deg, #e5e5e5 25%, transparent 25%),
              linear-gradient(45deg, transparent 75%, #e5e5e5 75%),
              linear-gradient(-45deg, transparent 75%, #e5e5e5 75%);
            background-size: 2px 2px;
            background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

            div {
                height: 50%;
                display: flex;
                align-items: center;

                svg {
                    margin: 0 auto;
                }
            }
        }

        .layer-tree-node-name {
            //display: inline-block;
            line-height: 15px;
            //height: 2.5em;
            margin: 5px;
            font-weight: bold;
            font-size: 1.25em;
            overflow: hidden;
            grid-row: 1/2;
            grid-column: 2/4;
            color: #000;
        }

        .layer-tree-node-buttons {
            grid-row: 1;
            grid-column: 4/5;

            .layer-tree-node-icon {
                display: inline-block;
                text-align: center;
                line-height: 15px;
                //width: 50%;
                height: 15px;
                font-size: 18px;
                font-weight: bold;
                //background: #d3d3d3;
                cursor: pointer;
                border-radius: 50%;
                margin: 5px;
            }

            .layer-tree-node-icon:hover {
                color: #818181;
            }

            .layer-tree-node-visibility {
                display: inline-block;
                //width: 10%;
                margin: 5px;
                font-size: 18px;

                .visibility-checkbox:focus {
                    outline: 0;
                }

                .visibility-checkbox {
                    position: absolute; // take it out of document flow
                    opacity: 0; // hide it
                    cursor: pointer;
                    // custom styling

                }
            }

            .layer-tree-node-visibility:hover {
                color: #818181;
            }

            .selected {
                background-color: #d3d3d3;
            }
        }
    }
}

/* responsivness */

@media only screen and (max-width: 600px) {

}
