.cookies-info {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    color: #FFF;
    text-align: center;
    width: 100vw;
    height: 20vh;
    z-index: 999;
    overflow: auto;

    p {
        margin: 0 20vh 0;
        span {
            cursor: pointer;
            color: #f69a2d;
        }
    }

    div {
        margin: 20px auto;
        background: #f69a2d;
        padding: 10px;
        width: min-content;

        &:hover {
            cursor: pointer;
            background: #2d2d2d;
        }
    }
}
// openlayers goes here



.ol-box {
	box-sizing: border-box;
	border-radius: 2px;
	border: 2px solid #00f
}

.ol-mouse-position {
	top: 8px;
	right: 8px;
	position: absolute
}

.ol-scale-line {
	background: rgba(0, 60, 136, .3);
	border-radius: 4px;
	bottom: 8px;
	left: 8px;
	padding: 2px;
	position: absolute
}

.ol-scale-line-inner {
	border: 1px solid #eee;
	border-top: none;
	color: #eee;
	font-size: 10px;
	text-align: center;
	margin: 1px;
	will-change: contents, width
}

.ol-overlay-container {
	will-change: left, right, top, bottom
}

.ol-unsupported {
	display: none
}

.ol-unselectable,
.ol-viewport {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent
}

.ol-selectable {
	-webkit-touch-callout: default;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}

.ol-grabbing {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing
}

.ol-grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab
}

.ol-control {
	position: absolute;
	//background-color: rgba(235, 235, 229, .4);
	border-radius: 4px;
	padding: 2px
}

.ol-control:hover {
	//background-color: rgba(235, 235, 229, .6)
}

.ol-zoom {
	top: .5em;
  right: 8px;
	left: auto;
}

.ol-rotate {
	top: .5em;
	right: .5em;
	transition: opacity .25s linear, visibility 0s linear
}

.ol-rotate.ol-hidden {
	opacity: 0;
	visibility: hidden;
	transition: opacity .25s linear, visibility 0s linear .25s
}

.ol-zoom-extent {
	top: 4.643em;
	left: .5em
}

.ol-full-screen {
	right: .5em;
	top: .5em
}

@media print {
	.ol-control {
		display: none
	}
}

.ol-control button {
	//display: block;
	margin: 1px;
	padding: 0;
	color: #2d2d2d;
	font-size: 1.25em;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	height: 2em;
	width: 2em;
	line-height: .4em;
	background-color: rgba(0,0,0,0);
	border: 3px solid #2d2d2d;
	border-radius: 50%;
}

.ol-control button::-moz-focus-inner {
	border: none;
	padding: 0
}

.ol-zoom-extent button {
	line-height: 1.4em
}

.ol-compass {
	display: block;
	font-weight: 400;
	font-size: 1.2em;
	will-change: transform
}

.ol-touch .ol-control button {
	font-size: 1.5em
}

.ol-touch .ol-zoom-extent {
	top: 5.5em
}

.ol-control button:focus {
    text-decoration: none;
    outline: none;
}
.ol-control button:hover {
	text-decoration: none;
	background-color: rgba(0,0,0,0.1);
        outline: none;
}

.ol-zoom .ol-zoom-in {
}

.ol-attribution {
	text-align: right;
	bottom: 0;
	right: .5em;
	max-width: calc(100% - 1.3em)
}

.ol-attribution ul {
	margin: 0;
	padding: 0 .5em;
	font-size: .7rem;
	line-height: 1.375em;
	color: #000;
	text-shadow: 0 0 2px #fff
}

.ol-attribution li {
	display: inline;
	list-style: none;
	line-height: inherit
}

.ol-attribution li:not(:last-child):after {
	content: " "
}

.ol-attribution img {
	max-height: 2em;
	max-width: inherit;
	vertical-align: middle
}

.ol-attribution button,
.ol-attribution ul {
	display: inline-block
}

.ol-attribution.ol-collapsed ul {
	display: none
}

.ol-attribution:not(.ol-collapsed) {
	//background: rgba(255, 255, 255, .8)
}

.ol-attribution.ol-uncollapsible {
	bottom: 0;
	right: 0;
	height: 1.1em;
	line-height: 1em
}

.ol-attribution.ol-uncollapsible img {
	margin-top: -.2em;
	max-height: 1.6em
}

.ol-attribution.ol-uncollapsible button {
	display: none
}

.ol-zoomslider {
  visibility: hidden;
}

.ol-zoomslider.ol-unselectable.ol-control:focus {
  outline: none;
}

.ol-zoomslider button {
	position: relative;
	height: 10px
}

.ol-touch .ol-zoomslider {
  top: 2.75em;
}

.ol-overviewmap {
	left: .5em;
	bottom: .5em
}

.ol-overviewmap.ol-uncollapsible {
	bottom: 0;
	left: 0;
}

.ol-overviewmap .ol-overviewmap-map,
.ol-overviewmap button {
	display: inline-block
}

.ol-overviewmap .ol-overviewmap-map {
	border: 1px solid #7b98bc;
	height: 150px;
	margin: 2px;
	width: 150px
}

.ol-overviewmap:not(.ol-collapsed) button {
	bottom: 1px;
	left: 2px;
	position: absolute
}

.ol-overviewmap.ol-collapsed .ol-overviewmap-map,
.ol-overviewmap.ol-uncollapsible button {
	display: none
}

.ol-overviewmap:not(.ol-collapsed) {
	//background: rgba(255, 255, 255, .8)
}

.ol-overviewmap-box {
	border: 2px dotted rgba(0, 60, 136, .7)
}

.ol-overviewmap .ol-overviewmap-box:hover {
	cursor: move
}

/* scale */
.ol-scale-line {
    bottom: 10px;
    right: 10px;
    left: auto;
    background: #2d2d2d;
}

.ol-zoom, .ol-rotate {
    //bottom: 5px;
    top: 15px;
}
.ol-zoomslider {
    visibility: hidden;
}

.ol-zoom .ol-zoom-out {

  margin-top: auto;
}

// intro

.highlighted-section {
    background-color: #2d2d2d;
}
.highlighted-section-light {
    background-color: #808080;
}

.tooltip-section {
    //border: 2px solid #f69a2d;
    background-color: #e5e5e5;
    box-shadow: 0 0 15px #f69a2d;
    padding: 25px;
    .active {
        background: #f69a2d !important;
    }
}

.introjs-fixParent {

}

.intro-backdrop {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: -webkit-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
}

.intro-message {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e5e5e5;
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 25px;
    box-shadow: 0 0 15px #f69a2d;
}

.not-show {

    position: absolute;
    font-size: 12px;
    bottom: 10px;
}

/* responsivness */

@media only screen and (max-width: 600px) {
  .ol-zoom, .ol-rotate {
      bottom: 5px;
      top: auto;
  }
  .ol-zoomslider {
      visibility: hidden;
  }

  .ol-zoom .ol-zoom-out {
    margin-top: auto;
  }
}
