#layer-info-container {
    //position: fixed;
    //top: 20%;
    //left: 50%;
    z-index: 1;
    //border: 1px solid #d3d3d3;
    background: #ebebe5;
    width: 100%;
    //box-shadow: 0 0 75px #000;
    //border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #339966;

    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 30px 1fr;

    .layer-info-header {
        //background-color: #339966;
        color: #000;
        //text-align: center;
        padding-left: 10px;
        font-weight: bold;
        height: 30px;
        line-height: 30px;
        //border-radius: 10px 10px 0 0;
        grid-row: 1;
        grid-column: 1/3;

        span {
            cursor: pointer;
            margin-right: 5px;
            font-size: 13px;
            float: right;
        }
    }

    .layer-info-body {
        //height: 100%;
        overflow-y: auto;
        grid-row: 2;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .layer-info-field {
        font-size: 11px;
        color: #808080;
    }

    .nested {
        border-left: 12px solid #d3d3d3;
    }

    .layer-info-value {
        word-break: break-all;
        font-size: 13px;
        padding: 5px;
    }

    .layer-info-group {}

    .layer-info-group-name {
        background-color: #d3d3d3;
        line-height: 25px;
        text-align: center;
    }

    .layer-info-group-content {}

    .layer-info-card {
        grid-row: 1;
        grid-column: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1/3fr;
        overflow-y: auto; // to scroll

        .layer-info-card-top {

            grid-row: 1;
            grid-column: 1;

            .layer-info-card-image {
                display: inline-block;
                width: 35%;
                padding: 10px;
                vertical-align: top;
                img {
                    width: 100%;
                    border: 1px solid #dddddd;
                }
            }

            .layer-info-card-meta {
                display: inline-block;
                width: 100%;

                .layer-info-card-entry {

                    .layer-info-card-entry-key {
                        font-size: 11px;
                        color: #808080;
                        padding: 5px 5px 5px 10px;

                    }
                    .layer-info-card-entry-value {
                        word-break: break-all;
                        font-size: 13px;
                        font-weight: bold;
                        //margin-left: 5px;
                        padding: 5px 5px 5px 10px;

                        a {
                            margin-left: 5px;

                        }
                    }

                    .layer-info-card-download {
                        margin: 15px 15px 15px 5px;

                        color: #0066CC;
                        font-weight: bold;
                    }
                    .layer-info-card-download:hover {
                        cursor: pointer;
                        color: #004080;
                    }

                    .layer-info-card-landvoc {
                        padding: 0 0 0 5px;
                        div {
                            div {
                                padding: 3px;
                                margin-right: 5px;
                                margin-top: 5px;
                                display: inline-block;
                                border-radius: 3px;
                                font-weight: bold;
                                color: #fff;
                            }

                            .tag-theme {
                                background: #009999;

                            }
                            .tag-concept {
                                background: #333366;
                            }
                        }
                    }

                }
            }

        }
        .layer-info-card-bottom {
            grid-row: 2;
            grid-column: 1;

            padding: 10px;
            font-size: 15px;

            .layer-info-card-description {
                padding: 15px 0 15px 0;
            }

            .layer-info-card-download {
                margin: 15px 15px 15px 0px;

                color: #0066CC;
                font-weight: bold;
            }
            .layer-info-card-download:hover {
                cursor: pointer;
                color: #004080;
            }

            .layer-info-card-landvoc {
                padding: 15px 0 15px 0;
                div {
                    padding: 3px;
                    margin-right: 5px;
                    margin-top: 5px;
                    display: inline-block;
                    border-radius: 3px;
                    font-weight: bold;
                    color: #fff;
                }

                .tag-theme {
                    background: #009999;

                }
                .tag-concept {
                    background: #333366;
                }
            }

        }
    }
}
