.home-examples {

    overflow-y: auto;
    max-height: 400px;

    .home-thumbnail {
        display: inline-block;
        background: #dddddd;
        height: 125px;
        width: 200px;
        margin-right: 10px;
        margin-bottom: 10px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            opacity: 0.3;
        }
        img:hover {
            opacity: 0.6;
        }


        .home-thumbnail-name {
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
            padding-bottom: 3px;
            white-space:nowrap;
            text-overflow: ellipsis;
            overflow: hidden !important;
            color: #fff;
            background: #818181;

        }

    }
    .home-thumbnail:hover {
        cursor: pointer;
    }
}
