.howto-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 20;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .howto-container {
        width: 60%;
        height: 80%;
        background: #2d2d2d;
        overflow: auto;

        padding: 10px;

        h2 {
            text-align: center;
        }
        h5 {
            text-decoration: underline;
        }
        img {
            max-width: 100%;
            max-height: 40%;
            border: 1px solid #fff;
            box-shadow: 0 0 10px #fff;
        }
    }

}
