header {
  background: #ebebe5;
  margin-top: -1em;
  nav {
    width: 80%;
    margin: auto;
    ul {
      padding: 0;
      display: flex;
      flex-direction: row;
      list-style: none;
      font-size: 16px;
      font-weight: 700;
      li {
        a {
          height: 100%;
          display: block;
          padding: 10px;
          text-decoration: none;
          &:hover {
            background: #F3F3EE;
          }
        }
      }
    }
  }
}

.blue {
  color: #0066CC;
  &:hover {
    color: #004080;
  }
}

.orange {
  color: #E58517;
}

.red {
  color: #CC3333;
}

.teal {
  color: #009999;
}

.green {
  color: #009933;
}
