#explore-container {

    position: absolute;
    left: 0;
    width: 100%;
    //min-width: 300px;
    height: 40vh;
    color: #fff;
    background-color: #2d2d2d;
    z-index: 30;
    box-shadow: 0 0 75px #000;

    display: flex;
    justify-content: center;

    div {
        width: 30vw;
        margin: 1vh 1vw 1vh;
    }
    .explore-by {

        width: 30vw;
        margin: 1vh 1vw 1vh;

        .explore-by-head {
            width: 30vw;
            line-height: 6vh;
            height: 5vh;
            font-weight: bold;
            .first {
                color: #f69a2d;
            }
            .second {
                margin-left: 10px;
                font-weight: normal;
                font-size: 12px;

                .clickable {
                    margin-left: 10px;
                    color: #f69a2d;
                    text-decoration: underline;
                    &:hover {
                        cursor: pointer;
                    }
                    svg {
                        margin-right: 5px;
                    }
                }
            }
        };

        .explore-by-issues {

            overflow-y: auto;
            height: 30vh;

            .explore-by-issues-entry {
                margin: 1vh 0 1vh;
                max-width: 25vw;
                font-weight: bold;
                display: flex;
                align-items:center;
                &:hover {
                    cursor: pointer;
                    color: #f69a2d;
                }
                img {
                    max-height: 32px;
                    margin: 5px;
                }

            }
            .selected {
                color: #f69a2d;
            }

        }

        .explore-by-datasets {
            padding-top: 42px;
            font-size: 64px;
        }
    };

    .explore-datasets {

        width: 30vw;
        margin: 1vh 1vw 1vh;

        .explore-datasets-header {
            width: 30vw;
            line-height: 6vh;
            height: 5vh;
            font-weight: bold;
            color: #f69a2d;
        }

        .explore-datasets-list {
            overflow-y: auto;
            height: 30vh;

            .selected {
                background-color: #202020;
            }

            .explore-datasets-list-entry {
                margin: 1vh 0 1vh;
                width: 28vw;
                display: flex;
                border-bottom: 1px solid #fff;
                //height: 15vh;

                .datasets-entry-image {

                    width: 5vw;
                    img {
                        //max-height: 5vh;
                        width: 5vw;
                        background: #d3d3d3;
                    }
                }
                .datasets-entry-info {
                    margin: 0;
                    width: 15vw;
                    div {
                        max-width: 20vw;
                    }
                    .dataset-name {
                        font-weight: bold;

                        &:hover {
                            color: #f69a2d;
                            cursor: pointer;
                        }
                    }
                    .dataset-provider {
                        font-size: 12px;
                        font-weight: bold;
                        span {
                            font-weight: normal;
                            color: #f69a2d;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                    .dataset-description {
                        font-size: 12px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                    .dataset-more {
                        font-size: 12px;
                        font-weight: normal;
                        color: #f69a2d;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }

    };

    .explore-indicators {

        width: 30vw;
        margin: 1vh 1vw 1vh;

        .explore-indicators-header {
            width: 30vw;
            line-height: 6vh;
            height: 5vh;
            font-weight: bold;
            color: #f69a2d;
        }

        .explore-indicators-list {
            overflow-y: auto;
            height: 30vh;

            .explore-indicators-list-entry {
                margin: 1vh 0 1vh;
                width: 28vw;
                display: flex;
                border-bottom: 1px solid #fff;
                //height: 15vh;

                .indicators-entry-add {
                    width: 5vw;
                    font-size: 14px;
                    font-weight: bold;
                    color: #f69a2d;
                    text-decoration: underline;
                    cursor: pointer;
                }
                .selected-layer {
                    cursor: default;
                    color: #9ba48f;
                    text-decoration: none;
                    font-weight: normal;
                }
                .indicators-entry-info {
                    margin: 0;
                    width: 15vw;
                    div {
                        max-width: 20vw;
                    }
                    .indicator-name {
                        font-weight: bold;
                    }
                    .indicator-unit {
                        font-size: 12px;
                        font-weight: bold;
                        span {
                            font-weight: normal;

                        }
                    }
                    .indicator-description {
                        font-size: 12px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                    .indicator-more {
                        font-size: 12px;
                        font-weight: normal;
                        color: #f69a2d;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    };

    .explore-loader {
        margin: 1vh 1vw 1vh;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: rgba(45,45,45,0.9);


    };

    .explore-countries {
        overflow-y: auto;
        height: 30vh;
        font-weight: bold;
        div {
            width: auto;
            margin: 0;
        }
        .explore-countries-list {

            .explore-countries-entry {
                margin: 5px;
                .explore-region {
                    &:hover {
                        cursor: pointer;
                        color: #f69a2d;
                    }
                };
                .expandable {
                    margin-left: 10px;
                }
                .explore-country {
                    margin-left: 20px;
                    &:hover {
                        cursor: pointer;
                        color: #f69a2d;
                    }
                };
                .icon {
                    font-size: 12px;
                    margin-left: 5px;
                    cursor: pointer;
                    color: #f69a2d;
                }
                .selected {
                    color: #f69a2d;
                }

            }
        }
    }

}
