#attributes-table {
    position: fixed;
    top: 20%;
    left: calc(50% - 384px);
    z-index: 20;
    //border: 1px solid #d3d3d3;
    margin: 5px;
    background: #ebebe5;
    width: 768px;
    height: 350px;
    box-shadow: 0 0 75px #000;
    //border-radius: 10px;

    .attributes-table-header {
        background-color: #339966;
        color: #fff;
        text-align: center;
        font-weight: bold;
        height: 30px;
        line-height: 30px;
        //border-radius: 10px 10px 0 0;

        .close {
            cursor: pointer;
            margin-right: 5px;
            font-size: 13px;
            float: right;
        }

        .show {
            cursor: pointer;
            margin-left: 5px;
            font-size: 13px;
            float: left;
        }
    }

    .attributes-table-body {
        height: calc(100% - 35px);
        overflow: auto;

    }

    table {
        font-size: 14px;
        height: 330px;
        font-size: 12px;
        table-layout: fixed;
        min-width: 100%;

        thead {

            th {
                background: #d3d3d3;
                height: 1em;
                min-width: 150px;
                overflow: hidden;
                padding: 5px;
            }

        }

        tbody {
            td {
                padding: 5px;
                min-width: 150px;
                overflow: hidden;
            }

            tr {
                background: #F3F3EE;
            }
            tr:nth-child(even) {
              background-color: #d3d3d3;
            }

            .invisible {
                color: #bababa;
            }
        }

    }

}

/* responsivness */

@media only screen and (max-width: 600px) {
    #attributes-table {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
    }
}
