@import url('https://fonts.googleapis.com/css?family=Nunito');

$color1: #2d2d2d;
$color2: #f69a2d;
$color3: #d5eee7;
$color4: #9ba48f;

html, body {
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
  background-color: #F3F3EE;
  color: #333;
}

#map {
  width: 100%;
  min-width: 1400px;
  height: calc(100% - 6vh);
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

.landing-page {
    width: 80%;
    height: 600px;
    margin: auto;
    background: #ebebe5;
    margin-top: 50px;
    border: 1px solid #dddddd;
    box-shadow: 0 0 10px #818181;

    padding: 25px;

    .landing-block {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        overflow: auto;

        .landing-about {
            margin-top: 30px;
        }

        .landing-buttons {
            margin-top: 30px;
            a {
                margin-right: 15px;
                text-decoration: none;
                font-weight: bold;
                color: #0066CC;

            }
            a:hover {
                text-decoration: underline;
                color: #004080;
            }
        }
    }
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ebebe5;

}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  background-color: #ebebe5;

}

*::-webkit-scrollbar-thumb {
  background-color: #f69a2d;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
