
#map-widgets-panel {
  min-width: 256px;
  width: 25%;
  position: absolute;
  left: 0;//5px;
  bottom: 0px;
  z-index: 15;
  background: #2d2d2d;
  font-size: 12px;
  //font-weight: bold;
  line-height: 20px;
  //border-radius: 10px;
  box-shadow: 0 0 75px #000;
  //overflow: auto;
  max-height: 100%;

  .toggle-panel {
      padding: 5px;
      font-size: 2em;
      color: #2d2d2d;
      background: #808080;
      position: absolute;
      left: 100%;
      top: 0;
      box-shadow: 0 0 75px #000;
      svg {
          margin: auto;
      }
      &:hover {
          cursor: pointer;
          background-color: #e5e5e5;
      }
  }

  .toggle-label {
      padding: 5px;
      line-height: 1em;
      color: #2d2d2d;
      background: #808080;
      position: absolute;
      left: calc(100% + 1.75em);
      top: 3em;
      white-space: nowrap;
      font-weight: bold;
      transform-origin: 0 0;
      transform: rotate(90deg);
  }

}

#map-widgets-panel::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

#map-widgets-panel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #fff;
}

#map-widgets-panel::-webkit-scrollbar-thumb {
  background-color: #808080;
}

.map-widgets-panel-toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    background: #d2d2d2;
    color: #fff;
    right: -35px;
    border-radius: 10px;
    cursor: pointer;
}

/* responsivness */

@media only screen and (max-width: 600px) {
  #map-widgets-panel {
      width: 100%;
      //max-height: 100%;
      top: 0;
      left: 0;
      //overflow: auto;
  }
}
