.bar {
    //position: absolute;
    //bottom: 1%;
    left: 0;
    right: 0;
    height: 6vh;
    width: 100%;
    min-width: 1400px;
    margin: auto;
    font-size: 1.25em;
    background: #2d2d2d; //rgba(0,0,0,0);//#5b5b5b;
    z-index: 1;
    //border-radius: 2px;
    text-align: left;

    .selected {
        color: #f69a2d;
    }
}

.bar-icon {
    padding: 0 1vw 0;
    vertical-align: top;
    display: inline-block;
    line-height: 6vh;
    //min-width: 230px;
    //background: #2d2d2d;
    cursor: pointer;
    //font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    //margin: 5px 1px 0px;
    svg {
        //display: block;
        margin-left: 10px;
    }
    img {
        height: 5vh;
        margin: 0.5vh;
    }
}

.icon-big {
    //font-size: 1vw;
    svg {
        font-size: 0.75vw;
    }
}

.bar-icon:hover {
    //background: #5b5b5b;
    color: #f69a2d;
}

.homepage {
    float: right;
}

.advanced-search {
    padding: 1.5vh 0 1.5vh;
    vertical-align: top;
    display: inline-block;
    height: 6vh;
    //width: 12vw;
    background: #2d2d2d;
    font-size: 1vw;
    color: #fff;
    text-align: center;
    * {
      box-sizing: border-box;
    }

    input[type=text]{
        font-weight: bold;
        width: 10vw;
        min-width: 120px;
        height: 3vh;
        background-color: #5b5b5b;
        color: #fff;
        border:0;
        outline:0;
        border-radius: 5px 0px 0px 5px;
        box-sizing: content-box;

    }
    button {
        display: inline-block;
        height: calc(3vh + 2px);
        //width: 2vw;
        background-color: #f69a2d;
        color: #fff;
        border:0;
        outline:0;
        border-radius: 0px 5px 5px 0px;

        &:hover {
            cursor: pointer;
            background-color: #9ba48f;
        }

    }
    span {
        margin: 5px;
        font-size: 12px;
        cursor: pointer;
    }

}

/* responsivness */

@media only screen and (max-width: 1000px) {
  /*.bar {
      height: auto;
      .bar-icon {
          font-size: 1em;
          display: block;
      }
      .advanced-search {
          display: block;
      };
      .homepage {
          display: block;
          float: none;
      }
  }*/

}
